.benefit {
  overflow-x: hidden;
  background-color: #E6E7E2;


  &__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 43px;
    position: relative;
    padding-right: 39px;

    @include mw($ldt) {
      padding-right: 8px;
    }

    @include mw($dt) {
      padding-right: 0;
      padding-left: 35px;
    }

    @include mw($empty) {
      flex-direction: column;
      align-items: center
    }
  }

  &__img {
    @include centered(y);
    height: 100%;
    width: 874px;
    border-radius: 50%;
    border: 1px solid rgba(64, 90, 38, 0.3);
    left: -437px;

    @media (max-width: 1717px) {
      left: -500px;
    }

    @include mw($ldt) {
      width: 783px;
      height: 100%;
      max-height: 100%;
      left: -434px;
    }

    @include mw($empty) {
      width: 1300px;
      left: -568px;
    }

    @include mw(600px) {
      width: 1284px;
      left: -607px;
    }
  }

  &__title {
    font-size: 60px;
    line-height: 66px;
    margin-top: 188px;
    max-width: 306px;
    margin-left: 27px;

    @include mw($ldt) {
      font-size: 50px;
      margin-left: 0;
      margin-top: 172px;
      line-height: 56px;
      max-width: 250px;
    }

    @include mw($dt) {
      font-size: 40px;
      line-height: 47px;
      max-width: 208px;
    }

    @include mw($empty) {
      max-width: 370px;
      margin-top: 125px;
      margin-bottom: 64px;
      padding-left: 0;
    }


    @include mw(600px) {
      margin-top: 95px;
      font-size: 37px;
      line-height: 40px;
      margin-bottom: 56px;
      margin-left: 13px;
    }

    @include mw($min-ph) {
      font-size: 33px;
      line-height: 34px;
      margin-top: 105px;
      margin-bottom: 60px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 989px;

    @include mw($ldt) {
      max-width: 892px;
    }

    @include mw($dt) {
      max-width: 794px;
    }

    @include mw($empty) {
      max-width: 370px;
    }
  }

  &__item {
    width: 50%;
    padding-left: 211px;
    padding-right: 20px;
    position: relative;
    padding-top: 33px;
    padding-bottom: 33px;

    &:nth-child(2),
    &:nth-child(1) {
      padding-top: 174px;

      @include mw($ldt) {
        padding-top: 156px;
      }

      @include mw($dt) {
        padding-top: 137px;
      }
    }

    &:nth-child(5),
    &:nth-child(6) {
      padding-bottom: 150px;

      @include mw($ldt) {
        padding-bottom: 133px;
      }

      @include mw($dt) {
        padding-bottom: 98px;
        padding-top: 42px;
      }


    }

    @include mw($ldt) {
      padding-left: 183px;
      padding-bottom: 0;
      padding-top: 30px;

      &:nth-child(4) .benefit-item__box {
        padding-top: 23px;
      }
    }

    @include mw($dt) {
      padding-left: 147px;
      padding-top: 9px;
    }

    @include mw($empty) {
      width: 100%;
      padding-left: 141px;
      padding-right: 0;
      padding-top: 66px;

      &:nth-child(1) {
        padding-top: 0;
      }

      &:nth-child(2) {
        padding-top: 43px;
      }

      &:nth-child(5) {
        padding-top: 42px;
        padding-bottom: 0;
      }

      &:nth-child(6) {
        padding-top: 46px;
      }

      &:nth-child(4) {
        padding-top: 20px;
      }




    }

    @include mw(600px) {
      padding-left: 134px;
      padding-left: 39%;
      padding-top: 28px;

      &:nth-child(5) {
        padding-top: 35px;
        padding-bottom: 0;
      }

      &:nth-child(4) {
        padding-top: 25px;
      }

      &:nth-child(6) {
        padding-top: 54px;
      }




    }



    @include mw(380px) {
      padding-left: 102px;
    }

    @include mw($min-ph) {
      padding-top: 38px;

      &:nth-child(5) {
        padding-top: 38px;
      }

      &:nth-child(6) {
        padding-top: 38px;
        padding-bottom: 106px;
      }

      &:nth-child(4) {
        padding-top: 0;
      }

      &:nth-child(4) .benefit-item__box {
        padding-top: 18px;
      }


    }

    @include mw(359px) {
      padding-left: 27%;
    }




    &--even {
      border-left: 1px solid rgba(64, 90, 38, 0.2);

      @include mw($empty) {
        border-left: none;
      }

    }

    @include mw($empty) {
      &--1 {
        order: 0;
      }

      &--2 {
        order: 4;
      }

      &--3 {
        order: 1;
      }

      &--4 {
        order: 4;
      }

      &--5 {
        order: 3;
      }

      &--6 {
        order: 6;
      }
    }

  }
}

.line-block {
  position: relative;
  padding-right: 96px;
  padding-left: 96px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(64, 90, 38, 0.2);
    left: 0;
    z-index: 1;

  }

  &::before {
    top: 73px;

    @include mw($dt) {
      top: 69px;
    }

    @include mw($tb) {
      top: 57px;
    }

    @include mw(600px) {
      top: 36px;
    }
  }

  &::after {
    bottom: 73px;

    @include mw($dt) {
      bottom: 69px;
    }

    @include mw($tb) {
      bottom: 57px;
    }

    @include mw(600px) {
      top: 36px;
    }
  }

  @include mw(1263px) {
    padding-left: 68px;
    padding-right: 68px;
  }

  @include mw($dt) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mw($empty) {
    padding-left: 123px;
    padding-right: 123px;
  }

  @include mw($tb) {
    padding-left: 0;
    padding-right: 0;

  }
}

.container {

  &--border {
    position: relative;



    @include mw($dt) {
      max-width: 1066px;
    }

    @include mw($empty) {
      padding-left: 73px;
      padding-right: 80px;
      padding-bottom: 34px;
    }

    @include mw($tb) {
      max-width: 522px;
      padding-left: 10px;
      padding-right: 10px;
    }

    @include mw(600px) {
      margin-left: 22px;
      margin-right: 22px;
      padding-left: 13px;
      padding-right: 10px;
      padding-bottom: 2px;
    }

    @include mw(380px) {
      margin-left: 14px;
      margin-right: 14px;
    }


    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: rgba(64, 90, 38, 0.2);
      top: 0;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }


  }
}

.title {
  color: #36544F;
  font-weight: 600;



}

.benefit-item {
  display: flex;




  &__img {
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    @include centered(y);
    left: 16px;

    @include mw($ldt) {
      left: 27px;
    }

    @include mw($dt) {
      left: 9px;
    }

    @include mw($empty) {
      left: 0;
    }



    &--1 {
      width: 160px;
      height: 164px;
      background-image: url(/img/benefit-1.png);
      transform: none;
      top: 150px;

      @include mw($ldt) {
        width: 133px;
        height: 138px;
        transform: none;
        top: 137px;
      }

      @include mw($dt) {
        width: 122px;
        height: 125px;
        top: 117px;
      }

      @include mw($empty) {
        width: 122px;
        height: 123px;
        top: -17px;
      }

      @include mw(600px) {
        width: 35%;
        top: -7px;
      }
    }

    &--2 {
      width: 164px;
      height: 176px;
      background-image: url(/img/benefit-2.png);
      transform: none;
      top: 150px;

      @include mw($ldt) {
        width: 134px;
        height: 145px;
        transform: none;
        top: 140px;
      }

      @include mw($dt) {
        width: 122px;
        height: 125px;
        top: 117px;
      }

      @include mw($empty) {
        width: 122px;
        height: 123px;
        top: 45px;
      }
    }



    &--3 {
      width: 152px;
      height: 169px;
      background-image: url(/img/benefit-3.png);

      @include mw($ldt) {
        width: 126px;
        height: 139px;
        transform: none;
        top: 29px;
      }

      @include mw($dt) {
        width: 122px;
        height: 125px;
        top: 10px;
      }

      @include mw($empty) {
        width: 122px;
        height: 123px;
        top: 69px;
      }

      @include mw(600px) {
        top: 29px;
      }
    }

    &--4 {
      width: 143px;
      height: 156px;
      background-image: url(/img/benefit-4.png);

      @include mw($ldt) {
        width: 118px;
        height: 129px;
        transform: none;
        top: 44px;
      }

      @include mw($dt) {
        width: 122px;
        height: 125px;
        top: 10px;
      }

      @include mw($empty) {
        width: 122px;
        height: 123px;
        top: 33px;
      }

      @include mw(600px) {
        top: 47px;
      }
    }

    &--5 {
      width: 152px;
      height: 152px;
      background-image: url(/img/benefit-5.png);
      top: auto;
      transform: none;
      bottom: 140px;

      @include mw($ldt) {
        width: 127px;
        height: 127px;
        transform: none;
        top: 44px;
      }

      @include mw($dt) {
        width: 122px;
        height: 125px;
        top: 40px;
      }

      @include mw($empty) {
        width: 122px;
        height: 123px;
        top: 45px;
      }

      @include mw(600px) {
        top: 28px;
        width: 109px;
      }
    }

    &--6 {
      width: 154px;
      height: 154px;
      background-image: url(/img/benefit-6.png);
      top: auto;
      transform: none;
      bottom: 140px;

      @include mw($ldt) {
        width: 127px;
        height: 127px;
        transform: none;
        top: 30px;
      }

      @include mw($dt) {
        width: 122px;
        height: 125px;
        top: 29px;
      }

      @include mw($empty) {
        width: 122px;
        height: 123px;
        top: 42px;
      }

      @include mw(600px) {
        top: 53px;
        width: 113px;
      }
    }

    @include mw(380px) {
      width: 91px;
      top: 0;
    }

    @include mw(359px) {
      width: 68px;
    }
  }



  &__title {
    color: $green-two;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 11px;

    @include mw($ldt) {
      font-size: 18px;
    }

    @include mw($empty) {
      line-height: 22px;
    }

    @include mw(600px) {
      margin-bottom: 8px;
    }

    @include mw($ph) {
      margin-bottom: 12px;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: $text-dark;

    @include mw($ldt) {
      font-size: 18px;
      line-height: 22px;
    }

  }
}
