.projects {
  min-height: 1253px;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  background-repeat: no-repeat;
  background-image: url(/img/svg/sofa.svg),
    url(/img/svg/circle.svg);
  background-position: 0 50%,
    140% 0;
  background-size: auto,
    56% auto;

  &::after,
  &::before {
    content: none;

    @include mw($empty) {
      content: "";
    }
  }

  @include mw($ldt) {
    padding-right: 0;
    min-height: 1148px;
    background-position: 0 63%, 342% 0;
    background-size: 30%, 77% auto;
    background-color: #fff;
  }

  @include mw($empty) {
    padding-left: 0;
  }

  @include mw($dt) {
    min-height: 1011px;
    // display: block;
  }

  @include mw($tb) {
    background-image: none;

  }

  &__inner {
    flex-grow: 1;
    padding-top: 139px;
    padding-left: 56px;
    padding-right: 56px;
    width: 100%;

    @include mw($ldt) {
      padding-right: 0;
      padding-left: 54px;
    }

    @include mw($dt) {
      padding-top: 100px;
      padding-left: 36px;
      margin-right: 0;
      max-width: calc((100vw - 1066px) / 2 + 1066px);
    }

    @include mw($empty) {
      padding-left: 0;
      padding-bottom: 120px;

      &::after {
        right: 123px;
      }

      &::before {
        left: 123px;
      }


    }

    @include mw($tb) {
      padding-top: 112px;
      padding-bottom: 100px;

      &::after {
        right: calc((100vw - 522px) / 2);
      }

      &::before {
        left: calc((100vw - 522px) / 2);
      }
    }

    @include mw(600px) {
      margin-left: 0;
    }

    @include mw(566px) {
      &::after {
        right: 22px;
      }

      &::before {
        left: 22px;
      }
    }

    @include mw($ph) {
      padding-top: 90px;
      padding-bottom: 66px;
    }

    @include mw($min-ph) {
      padding-top: 78px;
      padding-bottom: 78px;

      &::after {
        right: 14px;
      }

      &::before {
        left: 14px;
      }
    }
  }

  &__title {
    line-height: 55px;

    @include mw($ldt) {
      line-height: 50px;
    }

    @include mw($dt) {
      line-height: 47px;
      margin-bottom: 32px;
    }

    @include mw($empty) {
      max-width: 430px;
      margin-left: auto;
      margin-right: auto;
    }

    @include mw($tb) {
      max-width: 396px;
      margin-bottom: 37px;
    }

    @include mw(566px) {
      margin-left: 36px;
      margin-right: 36px;
    }

    @include mw($ph) {
      padding-left: 0;
      line-height: 42px;
      margin-bottom: 34px;
    }

    @include mw($min-ph) {
      line-height: 34px;
      margin-bottom: 42px;
      margin-left: 32px;
      margin-right: auto;
    }
  }


  &__link {
    background: rgba(175, 124, 56, 0.9);
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    display: block;
    max-width: 548px;
    padding-top: 28px;
    padding-bottom: 28px;
    transition: background-color 0.3s;
    margin-left: auto;
    margin-right: auto;

    @include hocus() {
      background-color: rgba(175, 124, 56, 0.8);
    }

    @include mw($ldt) {
      // margin-left: 22%;
      margin-left: 0;

      margin-right: 0;
      position: relative;
      left: 50%;
      transform: translateX(calc(-50% - 80px));
    }

    @include mw($dt) {
      transform: translateX(calc(-50% - 50px));
    }

    @include mw($empty) {
      transform: none;
      left: auto;

      max-width: 337px;
      margin-left: auto;
      margin-right: auto;
      font-size: 22px;
    }

    @include mw($ph) {
      max-width: 320px;
      font-size: 20px;
      padding-top: 24px;
      padding-bottom: 24px;
    }

    @include mw($min-ph) {
      font-size: 18px;
      max-width: 270px;
      padding-top: 20px;
      padding-bottom: 18px;
    }




  }
}





.sliders-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 66px;


  @include mw($dt) {
    margin-bottom: 62px;
    align-items: flex-start;
  }

  @include mw($empty) {
    flex-direction: column-reverse;
  }

  @include mw($tb) {
    margin-bottom: 107px;
  }

  @include mw($ph) {
    margin-bottom: 60px;
  }

  @include mw($min-ph) {
    margin-bottom: 64px;
  }


}

.slider-info {
  width: 33%;
  padding-bottom: 6%;

  &__list {}


  &__container {
    width: 100%;
  }

  @include mw($ldt) {
    width: 35%;
    padding-bottom: 1%;
  }

  @include mw($dt) {
    padding-bottom: 0;
    padding-top: 25px;
  }

  @include mw($empty) {
    width: 100%;
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mw($tb) {
    padding-top: 0;
  }

  @include mw($ph) {
    padding-left: 36px;
    padding-right: 36px;
    max-width: 100%;
  }

  @include mw($min-ph) {}



  &__item {
    display: flex;
    flex-direction: column;

    &+li {
      margin-top: 60px;

      @include mw($ldt) {
        margin-top: 63px;
      }

      @include mw($dt) {
        margin-top: 50px;
      }

      @include mw($tb) {
        margin-top: 35px;
      }

      @include mw($ph) {
        margin-top: 27px;
      }
    }
  }

  &__term {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(64, 90, 38, 0.9);
    margin-bottom: 15px;

    @include mw($tb) {
      margin-bottom: 12px;
    }
  }

  &__desc {
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    color: #000000;

    @include mw($dt) {
      font-size: 18px;
      line-height: 26px;
    }

    @include mw($tb) {
      font-size: 20px;
      line-height: 24px;
    }

    @include mw($ph) {
      font-size: 18px;
      line-height: 26px;
    }

    @include mw($min-ph) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}



.slider-interior {

  width: 64%;

  @include mw($ldt) {
    width: 63%;
  }

  @include mw($dt) {
    width: 61%;
  }

  @include mw($empty) {
    width: 100%;
  }

  @include mw($tb) {
    margin-bottom: 46px;
  }

  @include mw($ph) {
    margin-bottom: 30px;
  }

  @include mw($min-ph) {
    margin-bottom: 26px;
  }

  &__container {
    width: 100%;
    padding-bottom: 120px;

    @include mw($ldt) {
      padding-bottom: 85px;
    }

    @include mw($empty) {
      padding-bottom: 0;
      padding-top: 105px;
    }
  }



  &__img-wrap {
    width: 100%;
    padding-top: 70%;
    position: relative;

    @include mw($dt) {
      padding-top: 68%;
    }

    @include mw($tb) {
      padding-top: 69%;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

}



.interior-controls {
  @include centered(x);
  bottom: 4px;

  & .slider__bullet {

    &+span {
      margin-left: 15px;
    }
  }

  @include mw($dt) {
    bottom: 0;

  }

  @include mw($empty) {
    bottom: auto;
    top: 0;
    display: flex;
    align-items: center;
  }


  &__counter {
    display: none;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(64, 90, 38, 0.9);
    width: 50px;

    @include mw($empty) {
      display: block;
    }

    @include mw($ph) {
      font-size: 25px;
      line-height: 24px;
      width: 40px;
    }
  }



  &__pagination {
    display: flex;
    align-items: center;
    height: 56px;

    @include mw($empty) {
      display: none;
    }

    & .swiper-pagination-bullet-active {
      background-color: transparent;
      width: 40px;
      height: 40px;
      border-color: rgba(69, 69, 71, 0.8);
      margin-left: 10px;
      margin-right: 10px;
      cursor: auto;

      @include hocus() {
        &::after {
          background-color: #454547;
        }
      }
    }
  }

  &__prev {
    display: none;
  }

  &__next {
    display: none;
    background-image: url(/img/svg/record-green.svg);
    background-repeat: no-repeat;
    background-size: 80px auto;
    background-position: 10px 50%;
    width: 263px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #405A26;
    padding-top: 18px;
    padding-bottom: 15px;
    padding-right: 30px;
    text-align: right;
    margin-left: 46px;
    flex-shrink: 0;

    @include mw($empty) {
      display: block;
    }

    @include mw($ph) {
      margin-left: 30px;
    }

    @include mw($min-ph) {
      width: 205px;
      font-size: 16px;
      padding-top: 11px;
      padding-bottom: 10px;
      background-size: 65px auto;
      background-position: 3px 50%;
      padding-right: 20px;
    }
  }
}
