.example {
  background-color: #F6F6F6;


  @include miw(1000px) {
    padding-right: 0;
  }

  @include mw($empty) {
    padding-left: 0;
    padding-right: 0;
  }

  &__inner {
    margin-right: 0;
    padding-top: 171px;
    padding-bottom: 157px;
    display: flex;
    align-items: center;

    @include miw(1620px) {
      max-width: calc((100vw - 1524px) / 2 + 1524px);
      margin-right: 0;
      padding-left: 56px;
    }

    @include mmw(1620px, 1000px) {
      width: calc(100vw - 96px);
      margin-right: 0;
      padding-left: 56px;
    }




    @include mw($empty) {
      flex-direction: column;
      width: 100%;
      max-width: none;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;


    }

    @include mw($tb) {
      padding-bottom: 0;
    }

    @include mw(600px) {
      margin-left: 0;
    }


  }

  &__col {

    &--left {}

    &--right {}
  }

  &__slider {}
}

.line-block {}

.container {

  &--border {}
}

.example-decor {
  padding-top: 7px;
  width: 50%;
  padding-right: 20px;

  @include mw($empty) {
    width: calc(100% - 44px);
    max-width: 521px;
    margin-right: 22px;
    margin-left: 22px;
    border-right: 1px solid rgba(64, 90, 38, 0.2);
    border-left: 1px solid rgba(64, 90, 38, 0.2);
    padding-top: 126px;
    padding-right: 0;

  }

  @include mw($tb) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 69px;
  }

  @include mw(600px) {
    padding-top: 96px;
    padding-left: 15px;
    padding-right: 15px;

  }


  &__title {
    line-height: 55px;
    margin-bottom: 65px;

    @include mw(600px) {
      font-size: 35px;
      line-height: 36px;
      margin-bottom: 21px;
      padding-left: 0;
    }

    @include mw($min-ph) {
      font-size: 33px;
    }

    @include mw(320px) {
      font-size: 30px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 26px;
    color: rgba(32, 32, 32, 0.9);
    margin-bottom: 33px;
    max-width: 660px;

    @include mw($tb) {
      font-size: 18px;
      line-height: 26px;
      max-width: 372px;
    }

    @include mw($ph) {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 0;
    }
  }

  &__list {
    margin-bottom: 67px;

    @include mw($empty) {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding-left: 6px;

    &+li {
      margin-top: 9px;
    }

    &--current {
      & .example-decor__point {
        border: 1px solid rgba(69, 69, 71, 0.8);
      }


      & .example-decor__line {
        background-color: rgba(32, 32, 32, 0.25);
      }


    }
  }

  &__item-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    transition: 0.3s;

    @include hocus() {
      color: #AF7C38;

      &+.example-decor__point::after {
        background-color: #AF7C38;
      }
    }
  }

  &__line {
    flex-grow: 1;
    height: 1px;
    background-color: rgba(32, 32, 32, 0);
    margin-left: 25px;
  }

  &__point {
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    position: relative;
    order: -1;
    margin-right: 25px;

    &::after {
      content: "";
      width: 4px;
      height: 4px;
      @include centered();
      background-color: #202020;
      border-radius: 50%;
      transition: 0.3s;
    }

  }

  &__link {
    display: inline-block;
    font-size: 25px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #202020;
    background-image: url(/img/svg/right-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    margin-left: 74px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 130px;
    transition: 0.3s;

    @include mw($empty) {
      display: none;
    }

    @include hocus() {
      opacity: 0.7;
    }
  }
}

.title {

  &--all {}

  &--dark {}
}

.open-modal-consultation {}

.example-slider {
  flex-shrink: 0;
  width: 50%;
  padding-bottom: 69px;

  @include mw($empty) {
    width: 100%;
  }

  @include mw($tb) {
    padding-top: 69px;
    padding-bottom: 0;
    // padding-bottom: 0;
  }


  &__title {
    display: none;

    @include mw($tb) {
      display: block;
      background: linear-gradient(0deg, #667B51, #667B51), rgba(196, 196, 196, 0.2);
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      color: #FFFFFF;
      padding-top: 25px;
      padding-bottom: 26px;
      text-align: center;
      display: flex;
      justify-content: center;
      padding-right: 22px;
      padding-left: 22px;


      &::before {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #fff;
        margin-right: 25px;
        margin-top: 9px;
      }
    }
  }

  &__img-wrap {
    width: 100%;
    padding-top: 81%;
    position: relative;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__control {
    position: absolute;
    left: 11px;
    bottom: 0;
    display: flex;
    align-items: center;


    @include mw($tb) {
      top: 0;
      bottom: auto;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      width: calc(100% - 44px);
      // width: 100%;
      max-width: 521px;
      border-right: 1px solid rgba(64, 90, 38, 0.2);
      border-left: 1px solid rgba(64, 90, 38, 0.2);
      padding-bottom: 27px;

    }


  }

  &__prev {
    width: 55px;
    height: 20px;
    margin-right: 58px;
    background-image: url(/img/svg/arr-left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;

    @include hocus() {
      opacity: 0.8;
    }

    @include mw($tb) {
      width: 40px;
      margin-right: 52px;
    }
  }

  &__index {
    display: none;

    @include mw($empty) {
      display: block;
      font-size: 25px;
      line-height: 24px;
      text-transform: uppercase;
      color: rgba(64, 90, 38, 0.9);
      width: 42px;

    }
  }

  &__index-current {}

  &__index-sum {}

  &__next {
    width: 55px;
    height: 20px;
    background-image: url(/img/svg/arr-left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(180deg);
    cursor: pointer;

    @include hocus() {
      opacity: 0.8;
    }

    @include mw($tb) {
      background-image: url(/img/svg/arr-brown.svg);
      transform: none;
      height: 47px;
      width: 80px;
      margin-left: 29px;
    }
  }
}

.swiper-container {}

.swiper-wrapper {}

.swiper-slide {}

.lazyload {}
