//
.header {
  z-index: 1;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 56px;

    @include mw($tb) {
      padding-top: 54px;
      padding-bottom: 54px;
    }
  }

  &__logo-wrap {
    margin-right: 8%;
    width: 14%;
    flex-shrink: 0;

    @include mw($ldt) {
      margin-right: 10%;
      width: 15%;
    }

    @include mw($dt) {
      width: 17%;
      margin-right: 6%;
    }

    @include mw($empty) {
      width: 100%;
      order: 1;
      margin-top: 59px;
    }

  }





  &__nav {
    flex-grow: 1;
    // max-width: 1263px;

    @include mw($empty) {
      flex-grow: 1;
      background-image: linear-gradient(0deg, #36544F, #36544F),
        linear-gradient(0deg, #718753, #718753);
      position: relative;
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }

  &__link {
    font-size: 0;
    display: none;

    &-open__icon {
      fill: rgba($text-dark, 0.8);
    }

    &-close__icon {
      fill: $grey;
    }

    @include mw($empty) {
      &--open {
        display: block;
      }

      &--close {
        display: block;
        position: absolute;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 9px;
        right: 25px;
      }
    }

    &-tel {
      display: none;
      font-weight: 300;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0.02em;
      color: $black;

      @include mw($empty) {
        display: block;
      }
    }
  }



  &__logo {
    // width: ;
    // height: 36px;
    display: flex;
    align-items: center;

    @include mw($ldt) {
      // width: 178px;
      // height: 26px;
    }
  }
}

.container {
  &--header {
    max-width: 1696px;



    @include mw($ldt) {
      max-width: 1210px;
    }


    @include mw($dt) {
      max-width: 1034px;
    }

    @include mw($empty) {
      padding-left: $gap-tablet;
      padding-right: $gap-tablet;
      max-width: $width-tablet + $gap-phone * 2;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.logo {
  // display: block;
  // width: 238px;
  // height: 36px;
  flex-shrink: 0;



  @include mw($empty) {
    width: 124px;
    height: 18px;
    margin-right: 0;
  }


}

.nav {

  &__list {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include mw($empty) {
      // flex-wrap: wrap;
      flex-direction: column;

    }
  }

  &__logo {
    margin-left: 56px;
    margin-bottom: 47px;
    display: block;
    width: 141px;
    height: 21px;
    display: none;

    @include mw($empty) {
      display: block;
    }
  }


  &__item {
    background-color: transparent;
    border-left: none;
    // width: fill-available;

    &+li {
      margin-left: 4%;

      @include mw($ldt) {
        margin-left: 8%;
      }

      @include mw($dt) {
        margin-left: 4%;
        margin-left: 0;
      }
    }

    &__contacts {
      display: none;
    }

    @include mw($empty) {
      background-color: rgba($white, 0.4);

      &__contacts {
        display: block;
      }

      &+li {
        margin-top: 2px;
      }
    }


    &--down-active {

      & .sub-list {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
      }

    }



    &--tel.nav__item {
      flex-shrink: 0;
      margin-left: 9%;
      display: flex;
      align-items: center;

      @include mw($empty) {
        display: none;
      }
    }
  }

  &__link {
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    color: $text-dark;
    padding: 5px 0;
    text-transform: uppercase;
    position: relative;


    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $text-dark;
      bottom: 0;
      left: 0;
      transform: translateY(0);
      transition: 0.5s;
      opacity: 0;
    }



    @include mw($ldt) {
      font-size: 14px;
      line-height: 20px;
    }

    @include mw($empty) {
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 9px;
      padding-left: 56px;
      padding-right: 20px;
    }

    @include hocus(after) {
      opacity: 1;
      transform: translateY(0);
    }

    &--down {
      display: flex;
      align-items: center;

      @include mw($ldt) {
        align-items: flex-start;
      }

      @include mw($empty) {
        &[data-control].nav__link--catalog {
          padding-top: 10px;
          padding-bottom: 9px;
          padding-left: 56px;
        }
      }


      @include hocus(after) {
        content: none;
      }

      @include hocus() {
        // background-color: tomato;
      }


    }





    &--tel {
      font-size: 20px;
      color: $black;
      letter-spacing: 0.02em;
    }

    p &--catalog {}
  }

  &__link-hamburger__icon {
    margin-right: 12px;
    flex-shrink: 0;
    fill: $text-dark;
    align-self: flex-start;
    margin-top: 6px;

    @include mw($ldt) {
      margin-top: 7px;
    }

    @include mw($empty) {
      display: none;
    }
  }

  &__list-sub {
    // width: 300px;
  }
}

[data-accordion] [data-content] {
  overflow: auto;
  max-height: none;
}

[data-control],
[data-content]>* {
  padding: 0;
  border: none;
}

[data-accordion] [data-control] {
  padding: 5px 0;
}

.sub-list {
  position: absolute;
  right: 50px;
  top: 100%;
  width: 100vw;
  max-width: 565px;
  display: flex;
  flex-wrap: wrap;
  background-color: $green;
  padding: 23px 100px;
  box-shadow: 0px 4px 10px rgba(95, 95, 95, 0.1);
  opacity: 0;
  transition: opacity 0.5s, transform 0.3s;
  pointer-events: none;
  transform: translateY(-10px);


  @include mw($empty) {
    opacity: 1;
    padding-top: 0;
    padding-bottom: 0;
    position: static;
    transform: none;
    width: auto;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }





  &__item {

    width: 50%;



    &:nth-child(even) {
      padding-left: 30px;
    }

    @include mw($empty) {
      width: 100%;
      padding-left: 56px;

      &:nth-child(even) {
        padding-left: 56px;
      }
    }


  }

  &__link {
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 300;
    color: $white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    position: relative;

    @include mw($empty) {
      display: block;
      line-height: 1.8;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $white;
      bottom: 0;
      left: 0;
      transform: translateY(-3px);
      transition: 0.5s;
      opacity: 0;
    }

    @include hocus(after) {
      opacity: 1;
    }

    @include mw($empty) {
      font-size: 20px;
    }
  }
}

.mm-ocd__content {
  width: 100%;
  max-width: none;
  // background-color: $green;
  background-image: linear-gradient(0deg, #36544F, #36544F),
    linear-gradient(0deg, #718753, #718753);

  overflow-y: auto;
}



.mm-ocd__backdrop {
  display: none;
}


.record-link {
  border: 2px solid $green-two;
  box-sizing: border-box;
  border-radius: 3px;
  // max-width: 273px;
  display: flex;
  align-items: center;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  color: $text-dark;



  &--nav {
    font-size: 18px;
    color: rgba($white, 0.8);
    border-color: rgba($white, 0.8);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 25px;
    max-width: 303px;
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
    display: none;

    @include mw($empty) {
      display: flex;
    }


    & svg {
      stroke: rgba($white, 0.8);
      transform: scale(0.8);

    }
  }

  &__text {
    margin-left: 10px;
  }

  &__icon {
    fill: transparent;
    stroke: $green-two;
  }
}
