//
.header {

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 56px;
  }

  &__logo {}

  &__nav {}
}

.container {
  &--header {
    max-width: 1656px;
  }
}

.logo {

  &__img {}
}

.nav {

  &__item {}

  a.nav__link {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    color: $text-dark;
    padding: 17px;
    text-transform: uppercase;

    p &--catalog {}
  }

  &__list-sub {}
}

.nav-top {

  &__list {}
}

.slimmenu {}

.sub-list {

  &__item {}

  &__link {}
}
