- let n = 0
- const favFolder = 'fav';
- const catalogItems = ['ГОСТИНЫЕ', 'СПАЛЬНИ', 'ДИВАНЫ', 'ДЕТСКИЕ', 'КУХНИ', 'СТОЛЫ', 'ОБЕДЕННЫЕ СТОЛЫ', 'СТУЛЬЯ', 'МАТРАСЫ', 'КРОВАТИ', 'ПРИХОЖИЕ', 'БИБЛИОТЕКИ', 'ШКАФЫ', 'ШКАФЫ-КУПЕ', 'КОМОДЫ', 'ТУМБЫ', 'КРЕСЛА', 'ЗЕРКАЛА', 'ПОЛКИ', 'КАРТИНЫ', 'РАСПРОДАЖА', 'АКЦИИ']

- const benefit_list = [['покупаете квартиру','Раздумываете над планировкой, палитрой или\u00A0общей концепцией'],['Делаете ремонт','Планируете ремонт сами,\u00A0но\u00A0не\u00A0уверены, учли\u00A0ли\u00A0все достоинства и\u00A0недостатки комнаты'],['Хотите преобразить интерьер','Думаете изменить атмосферу\u00A0в\u00A0уже годами вывереном интерьере без\u00A0ремонта'],['Выбираете мебель','Нет сил и времени ходить\u00A0по\u00A0магазинам в\u00A0поисках идеала'],['раздумываете над\u00A0декором','Сомневаетесь, какой выбрать ковер в спальню и подойдет ли к нему картина'],['Мечтаете об\u00A0инстаграмном доме','И хотите сэкономить на\u00A0дизайн-проекте']]

- const cons_top = ['2 грамотных планировочных решения с\u00A0зонированием и расстановкой мебели','Стилевой и цветовой коллаж с\u00A0индивидуальными вариантами решений под ваш запрос','Советы по материалам, размещению коммуникаций, организации освещения','Идеи, которые позволят взглянуть на дом по-новому','Подбор мебели под бюджет']

- const how = ['Вы отправляете фотографии комнат, пожелания, стилевые предпочтения, ритм жизни семьи','Мы создаем концепцию - коллаж с подобранными элементами интерьера, которые будут гармонично вписываться в ваш дом','Подберем несколько вариантов мебели для преображения вашего интерьера','Презентуем подготовленные предложения и ответим на все ваши вопросы лично в офисе или онлайн в Zoom','Высылаем все согласованные материалы и видеозапись презентации, если она проходила в режиме онлайн']

- let record = 1

- const scenario = [[`Выбор стиля`,'Грамотное смешение стилей и оттенков – главный шаг к правильному построению пространства'],['Составление схемы освещения ','Различные приемы освещения  сбалансируют размер комнаты и сфокусирует внимание на ее достоинствах'],['Поиск текстильных решений ','Шторы, ковры, покрывала, пледы и подушки дарят уют и придают интерьеру завершенный, целостный вид'],['Дополнительные предметы декора и\u00A0аксессуары','Сочетание функциональности и уюта в каждом предмете декора: картины, плакаты, скульптуры, посуда, флористика и не только'],]
