- let n = 0
- const favFolder = 'fav';
- const catalogItems = ['ГОСТИНЫЕ', 'СПАЛЬНИ', 'ДИВАНЫ', 'ДЕТСКИЕ', 'КУХНИ', 'СТОЛЫ', 'ОБЕДЕННЫЕ СТОЛЫ', 'СТУЛЬЯ', 'МАТРАСЫ', 'КРОВАТИ', 'ПРИХОЖИЕ', 'БИБЛИОТЕКИ', 'ШКАФЫ', 'ШКАФЫ-КУПЕ', 'КОМОДЫ', 'ТУМБЫ', 'КРЕСЛА', 'ЗЕРКАЛА', 'ПОЛКИ', 'КАРТИНЫ', 'РАСПРОДАЖА', 'АКЦИИ']
