extends ../templates/_main.pug
include ../helpers/mixins.pug

block content
  h1.page-main__title Информирование о поступающих оплатах

  section.promo
    .promo__inner.container
      h2.promo__title Наши приемущества
