// colors
$black: #000;
$white: #fff;
$bg: #F6F6F6;

// sizes;
$width: 1100px;
$gap: 20px;
$gap-tablet: 64px;
$gap-phone: 21px;

// breackpoints;
$ph: 600px;
$tb: 768px;
$dt: 1200px;
$ldt: 1440px;

// other;
$text-dark: #202020;

// font
// $font-family-montserrat: @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
